.home_container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 1rem 0.5rem;
    width: 60%;
    margin: auto;
    > div {
      padding: 0.3rem 2rem;
    }
    div.text{
        padding: 4rem;
        font-size: 30px;
    }
    img{
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 480px) {
    width: 100%;
    padding: 1rem 0.5rem;
    margin: auto;
    > div {
      padding: 0.3rem 1rem;
    }
    div.text{
        padding: 1rem;
        font-size: 30px;
        text-align: center;
    }
    img{
        height: 100%;
        width: 100%;
    }
    }
}