.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    height: 2rem;
    border-top: 1px solid #c1b2b2;
}
.footer_bar {
    display: flex;
    flex-direction: row;
    color: #000000;
    font-weight: bold;
    justify-content: center;
    > div {
      padding: 0.3rem 2rem;
    }
  }
  @media screen and (max-width: 480px) {
    .footer{
        height: 3rem;
    }
  }